/**
 * VOYAGE FONT
 */

@font-face {
	font-family: 'Voyage',
	src: local('Voyage Regular'), local('Voyage-Regular'),
		url('./Voyage/Voyage-Regular.otf') format('otf'),
		url('./Voyage/voyage-regular-webfont.woff') format('woff'),
		url('./Voyage/voyage-regular-webfont.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'FiraCode NF', 
	src: local('FiraCode NF'), local('FiraCode-NF'),
		url('./Fira/FiraCodeNF.ttf') format('ttf'),
		url('./Fira/FiraCodeLight.woff') format('woff'),
		url('./Fira/FiraCodeMedium.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


